#aTrouver
{
	width:7%;
	position: fixed;
	left: 0%;
	padding:20px 20px 20px 20px;
	background-color: yellow;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	border:solid black 3px;
	margin-left: 20%;


}


#carte>img
{	position:relative;
	
	width:10%;
	margin-left:1%;
	margin-top:22%;
	left:15%;
	

}



#field
{
	
	width:30px;
	position: fixed;
	left: 30%;
	padding:20px 20px 20px 20px;
	background-color: yellow;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px; 
	border:solid black 3px;

	
	top:0%;
	margin-left: 45%;
}

#field legend
{	
	font-style: bold;
}

#resultat
{	
	padding-left: 20px;
}

#niveau_suiv
{	position: fixed;
	margin-left: 40%;
	
	top:60%;


}

#recommencer img
{	position: fixed;
	//margin-left: 50%;
	left: 30%;
	top:50%;
	width:20%;

}
