/*********************** body **************************/
body{
	background-image:url(../img/test4.jpg) ;
	//background-color: black;
	background-repeat : repeat-x;
	
}

img {
	border: none;
}
/*********************** bandeau **************************/
#bandeau{
	position : fixed;
	top:0;
	left:0;
	height:100%;
	width:10%;
	padding:0;
	margin:0;
	//background:url(img/blanc.png) repeat ;
	
}

.bandeauspan{
	padding: 2%;
	margin: 0;
	//border-bottom: 1px solid gray;
	text-align:center;
}

.lienbandeau{
	text-decoration:none;
	color:black;
}

.icone{
	width:50%;
	padding:0;
	margin:0;
}

#imagebandeau{
	position:fixed;
	height:100%;
	width:15%;
	top:0;
	left:0;
	margin:0;
	padding:0;
}


/*********************** corps **************************/

.jeux{
	position:absolute;
	height:33%;
	//width:26%;
}

.bas{
	top:42%;
}

.haut{
	top:13%;
}
#i1{
	display: block;
	left:12%;
	
}
#i1:hover{
	
	//background-image:url(../img/icone_carte_hover.png);
}

#i2{
	left:28%;
}

#i3{
	left:44%;
}

#i4{
	left:60%;
}

#i5{
	left:76%;
}

.jeux:hover{
	//background-color:silver;
	//border-radius:10000%;
	
//background:url(img/icone_carte_hover.png) no-repeat;
	//afficher le texte

}



a{
	border-radius:10000%;
}
p
{
	position: relative;
	left:60%;
}


/**************************************************************/

#carte
{
	position: fixed;
	left:15%;
}


.lienjeux
{
	background-image: url(img/icone_carte.png);
}
.lienjeux:hover
{
	background:url(img/icone_carte_hover.png) no-repeat;
}	